@mixin angular-toastify-transform {
    transform: translate3d(0, 0, 0);
}

@keyframes angular-toastify-slideInRight {
    from {
        transform: translate3d(110%, 0, 0);
        visibility: visible;
    }
    to {
        @include angular-toastify-transform;
    }
}

@keyframes angular-toastify-slideInLeft {
    from {
        transform: translate3d(-110%, 0, 0);
        visibility: visible;
    }
    to {
        @include angular-toastify-transform;
    }
}

@keyframes angular-toastify-slideInUp {
    from {
        transform: translate3d(0, 110%, 0);
        visibility: visible;
    }
    to {
        @include angular-toastify-transform;
    }
}

@keyframes angular-toastify-slideInDown {
    from {
        transform: translate3d(0, -110%, 0);
        visibility: visible;
    }
    to {
        @include angular-toastify-transform;
    }
}

@keyframes angular-toastify-slideOutRight {
    from {
        @include angular-toastify-transform;
    }
    to {
        visibility: hidden;
        transform: translate3d(110%, 0, 0);
    }
}

@keyframes angular-toastify-slideOutLeft {
    from {
        @include angular-toastify-transform;
    }
    to {
        visibility: hidden;
        transform: translate3d(-110%, 0, 0);
    }
}

@keyframes angular-toastify-slideOutDown {
    from {
        @include angular-toastify-transform;
    }
    to {
        visibility: hidden;
        transform: translate3d(0, 500px, 0);
    }
}

@keyframes angular-toastify-slideOutUp {
    from {
        @include angular-toastify-transform;
    }
    to {
        visibility: hidden;
        transform: translate3d(0, -500px, 0);
    }
}

.angular-toastify-slide-enter {
    &--top-left,
    &--bottom-left {
        animation-name: angular-toastify-slideInLeft;
    }
    &--top-right,
    &--bottom-right {
        animation-name: angular-toastify-slideInRight;
    }
    &--top-center {
        animation-name: angular-toastify-slideInDown;
    }
    &--bottom-center {
        animation-name: angular-toastify-slideInUp;
    }
}

.angular-toastify-slide-exit {
    &--top-left,
    &--bottom-left {
        animation-name: angular-toastify-slideOutLeft;
    }
    &--top-right,
    &--bottom-right {
        animation-name: angular-toastify-slideOutRight;
    }
    &--top-center {
        animation-name: angular-toastify-slideOutUp;
    }
    &--bottom-center {
        animation-name: angular-toastify-slideOutDown;
    }
}
