@keyframes angular-toastify-zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes angular-toastify-zoomOut {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0
    }
}

.angular-toastify-zoom-enter {
    animation-name: angular-toastify-zoomIn;
}

.angular-toastify-zoom-exit {
    animation-name: angular-toastify-zoomOut;
}
