.progress-bar-cover {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 5px;
  z-index: 100;
  transform-origin: left;
  direction: rtl;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 99;
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0.7);
  transform-origin: left;

  &--controlled {
    transition: transform 0.2s;
  }

  &--rtl {
    right: 0;
    left: initial;
    transform-origin: right;
  }

  &--default {
    background: $rt-color-progress-default;
  }

  &--info {
  }

  &--success {
  }

  &--warning {
  }

  &--error {
  }
}
